<section>
  <div class="container about-section">
    <div class="about-me" id="prof-skills">
      <div class="left-section">
        <h2 class="about-title">About myself</h2>
        <p class="about-text">
          Hello! My name is Khrystyna. I`m from Kyiv. Since childhood, I have been fascinated by
          psychology, history and the study of new cultures. I studied four foreign languages plus
          one on my own. Purposeful, responsive and sociable. I like to work in a team, rationally
          allocate time and achieve difficult goals. I will be glad for interesting career offers
          and opportunities!
        </p>
      </div>
      <div class="right-section">
        <h2 class="about-title">Basic information</h2>
        <div class="main-about-info">
          <div class="name-about">Email:</div>
          <div class="values-about">Khrystynna.Monastyrska@gmail.com</div>
        </div>
        <div class="main-about-info">
          <div class="name-about">Telephone:</div>
          <div class="values-about">+380984956126 +4367764347306</div>
        </div>
        <div class="main-about-info">
          <div class="name-about">Addresses:</div>
          <div class="values-about">Vienna, Austria</div>
        </div>
        <div class="main-about-info">
          <div class="name-about">Languages:</div>
          <div class="values-about values-about-languages">
            Ukrainian(Native),German(C1), English(B2), Polish(A2)
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
