<section>
  <div class="container skills">
    <h2 class="skills-title">Habits</h2>
    <div class="skills-block">
      <div class="skills-block-left">
        <h3 class="skills-block-left-title">Hard skills</h3>
        <div class="skills-block-items"><p>Knowledge of law</p></div>
        <div class="skills-block-items"><p>Business correspondence skills</p></div>
        <div class="skills-block-items"><p>Compiling and maintaining documentation</p></div>
        <div class="skills-block-items last"><p>Fluency in PC</p></div>
      </div>
      <div class="skills-block-right">
        <h3 class="skills-block-right-title">Soft skills</h3>
        <div class="skills-block-items"><p>Attention to detail</p></div>
        <div class="skills-block-items"><p>Critical thinking</p></div>
        <div class="skills-block-items"><p>Quick adaptation to circumstances</p></div>
        <div class="skills-block-items last"><p>High level of time management</p></div>
      </div>
    </div>
  </div>
</section>
