<section>
  <div class="container about-section">
    <div class="about-me" id="prof-skills">
      <div class="left-section">
        <h2 class="about-title">Про мене</h2>
        <p class="about-text">
          Привіт, мене звати Христина. Я родом з Києва. З дитинства захоплююсь психологією, історією
          та дослідженням нових культур. Вивчала чотири іноземні мови плюс одну самостійно.
          Цілеспрямована, емпатична та товариська . Люблю працювати в команді, раціонально
          розподіляти час та досягати непростих цілей. Буду рада цікавим кар'єрним пропозиціям та
          можливостям!
        </p>
      </div>
      <div class="right-section">
        <h2 class="about-title">Основна інформація</h2>
        <div class="main-about-info">
          <div class="name-about">Email:</div>
          <div class="values-about">Khrystynna.Monastyrska@gmail.com</div>
        </div>
        <div class="main-about-info">
          <div class="name-about">Телефон:</div>
          <div class="values-about">+380984956126 +4367764347306</div>
        </div>
        <div class="main-about-info">
          <div class="name-about">Адреса:</div>
          <div class="values-about">Відень, Австрія</div>
        </div>
        <div class="main-about-info">
          <div class="name-about">Мови:</div>
          <div class="values-about values-about-languages">
            Українська(Native),Німецька(С1), Англійська(B2), Польська(A2)
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
