<section id="contacts">
  <h2 class="main-title-contacts">Контакти</h2>
  <div class="contacts-container contacts">
    <div class="contacts-ukraine is-hidden" data-ukraine>
      <h2>Контактна інформація</h2>
      <ul class="list">
        <li><a href="tel:+380984956126">+380984956126</a></li>
        <li>
          <a target="_blank" href="https://www.linkedin.com/in/khrystyna-monastyrska-a922051b2/"
            >LinkedIn</a
          >
        </li>
        <li><a href="mailto:Khrystynna.Monastyrska@gmail.com">Gmail</a></li>
      </ul>
    </div>
    <div class="contacts-austria is-hidden" data-austria>
      <h2>Contact Information</h2>
      <ul class="list">
        <li><a href="tel:+4367764347306">+4367764347306</a></li>
        <li>
          <a target="_blank" href="https://www.linkedin.com/in/khrystyna-monastyrska-a922051b2/"
            >LinkedIn</a
          >
        </li>
        <li><a href="mailto:Khrystynna.Monastyrska@gmail.com">Gmail</a></li>
      </ul>
    </div>
    <img src="./images/check-in.png" alt="" data-open-ukraine />
    <img src="./images/check-in.png" alt="" data-open-austria />
  </div>
</section>
