<section id="education">
  <div class="container education">
    <h2 class="education-title">Освіта</h2>
      <ul class="education-list list">
          <li class="education-items">
        <div class="education-items-main-info">
          <p class="education-items-main-info-years">2017 - 2021</p>
          <h3 class="education-items-main-info-degree">Ступінь Бакалавра</h3>
        </div>
        <div class="education-items-info">
          <h3 class="education-items-info-name">Київський національний економічний університет ім. В. Гетьмана</h3>
          <p class="education-items-info-specialty">
            <span>Кваліфікація та присвоєний ступінь:</span> бакалавр економіки, викладач економіки
          </p>
          <p class="education-items-info-specialty"><span>Основна галузь знань за кваліфікацією:</span> соціальні та поведінкові науки</p>
        </div>
        </li>
        <li class="education-items">
          <div class="education-items-main-info">
            <p class="education-items-main-info-years">2021 - До тепер</p>
            <h3 class="education-items-main-info-degree">Ступінь Бакалавра</h3>
          </div>
          <div class="education-items-info">
            <h3 class="education-items-info-name">Віденський університет</h3>
            <p class="education-items-info-specialty"><span>Основна галузь знань за кваліфікацією:</span> політичні науки</p>
          </div>
        </li>
        <li class="education-items">
          <div class="education-items-main-info">
            <p class="education-items-main-info-years">2021 - До тепер</p>
            <h3 class="education-items-main-info-degree">Ступінь Магістра</h3>
          </div>
          <div class="education-items-info">
            <h3 class="education-items-info-name">Київський національний економічний університет ім. В. Гетьмана</h3>
            <p class="education-items-info-specialty">
              <span>Основна галузь знань за кваліфікацією:</span> міжнародні економічні відносини
            </p>
          </div>
        </li>
        <li class="education-items">
          <div class="education-items-main-info">
            <p class="education-items-main-info-years">2019 - 2020</p>
            <h3 class="education-items-main-info-degree">Програма обміну студентів </h3>
          </div>
          <div class="education-items-info">
              <h3 class="education-items-info-name">Університет Констанц</h3>
              <p class="education-items-info-specialty">Навчання в рамках DAAD - програми“Східне партнерство” м.Констанц, Німеччина</p>
          </div>
        </li>
        <li class="education-items">
            <div class="education-items-main-info">
                <p class="education-items-main-info-years">2021</p>
                <h3 class="education-items-main-info-degree">Онлайн університет</h3>
            </div>
            <div class="education-items-info">
                <h3 class="education-items-info-name">EU Study Days in Ukraine</h3>
                <p class="education-items-info-specialty"><span>Груповий проєкт :</span><a target="_blank"  href="https://facebook.com/101479652106969/"> “Беzфейків : ліки від інфодемії”</a></p>
            </div>
        </li>
      </ul>
    </div>
  </div>
</section>
