<section id="honors">
  <div class="container honors">
    <h2 class="honors-title">Відзнаки</h2>
    <div class="honors-sertificate-box">
      <button type="button" data-modal1-open>
        <figure class="snip1104 red">
          <img src="./images/language.jpg" alt="modal1" />
          <figcaption>
            <h2>
              Сертифікат про завершення німецьких курсів на рівень С1
              <span> ActiLingua Academy</span>
            </h2>
          </figcaption>
        </figure>
      </button>
      <button type="button" data-modal4-open>
        <figure class="snip1104">
          <img src="./images/lang-level.jpg" alt="modal2" />
          <figcaption>
            <h2>Мовний сертифікат C1<span> Test DaF</span></h2>
          </figcaption>
        </figure>
      </button>
      <button type="button" data-modal3-open>
        <figure class="snip1104">
          <img src="./images/kadrovik.jpg" alt="modal3" />
          <figcaption>
            <h2>
              Всеукраїнський професійний конкурс“Кадровик року 2020”
              <span> 1 місце “Кадровик майбутнього”</span>
            </h2>
          </figcaption>
        </figure>
      </button>
      <button type="button" data-modal2-open>
        <figure class="snip1104">
          <img src="./images/eu.jpg" alt="modal4" />
          <figcaption>
            <h2>
              Успішне завершення навчання в онлайн університеті
              <span> EU Study Days in Ukraine</span>
            </h2>
          </figcaption>
        </figure>
      </button>
    </div>
  </div>
</section>

<div class="backdrop is-hidden" id="modal1" data-modal1>
  <div class="modal">
    <button type="button" class="close-btn" data-modal-close1>+</button>
    <img class="modal-images" src="./images/language.jpg" alt="" />
  </div>
</div>
<div class="backdrop is-hidden" id="modal2" data-modal2>
  <div class="modal">
    <button type="button" class="close-btn" data-modal-close2>+</button>
    <img class="modal-images" src="./images/eu.jpg" alt="" />
  </div>
</div>
<div class="backdrop is-hidden" id="modal3" data-modal3>
  <div class="modal">
    <button type="button" class="close-btn" data-modal-close3>+</button>
    <img class="modal-images" src="./images/kadrovik.jpg" alt="" />
  </div>
</div>
<div class="backdrop is-hidden" id="modal4" data-modal4>
  <div class="modal">
    <button type="button" class="close-btn" data-modal-close4>+</button>
    <img class="modal-images" src="./images/lang-level.jpg" alt="" />
  </div>
</div>
