<section id="practice">
  <div class="container practice">
    <h2 class="practice-title">Практика</h2>
    <div class="practice-block">
      <div class="practice-photo"></div>
      <div class="practice-info">
        <h3>Міністерство фінансів України</h3>
        <p>
          Проходження практики відбувалося в умовах пандемії, тому вся діяльність була переведена в
          онлайн формат. Основні задачі полягали в : узагальненні та систематизації потенційних
          кадрів за відповідними вимогами (освіта, sof-skills тощо), виокремлення кандидатів згідно
          чинного законодавства, робота з нормативно-правовими актами, створення психологічних
          опитувальників з метою оптимізації діяльності колективу.
        </p>
      </div>
    </div>
  </div>
</section>
