<section>
  <div class="container skills">
    <h2 class="skills-title">Навички</h2>
    <div class="skills-block">
      <div class="skills-block-left">
        <h3 class="skills-block-left-title">Hard skills</h3>
        <div class="skills-block-items"><p>Знання законодавства</p></div>
        <div class="skills-block-items"><p>Навички ділового листування</p></div>
        <div class="skills-block-items"><p>Складання і ведення документації</p></div>
        <div class="skills-block-items last"><p>Вільне володіння ПК</p></div>
      </div>
      <div class="skills-block-right">
        <h3 class="skills-block-right-title">Soft skills</h3>
        <div class="skills-block-items"><p>Увага до деталей</p></div>
        <div class="skills-block-items"><p>Критичне мислення</p></div>
        <div class="skills-block-items"><p>Швидка адаптація до обставин</p></div>
        <div class="skills-block-items last"><p>Високий рівень тайм менеджменту</p></div>
      </div>
    </div>
  </div>
</section>
