<section>
  <div class="container about-section">
    <div class="about-me" id="prof-skills">
      <div class="left-section">
        <h2 class="about-title">Über mich</h2>
        <p class="about-text">
          Hallo! Mein Name ist Christina. Ich komme aus Kiew. Seit meiner Kindheit bin ich von
          Psychologie, Geschichte und dem Studium neuer Kulturen fasziniert. Ich habe vier
          Fremdsprachen plus eine selbstständig gelernt. Zielstrebig, reaktionsschnell und gesellig.
          Ich arbeite gerne im Team, teile Zeit rational ein und erreiche schwierige Ziele. Ich
          freue mich auf interessante Karriereangebote und Möglichkeiten!
        </p>
      </div>
      <div class="right-section">
        <h2 class="about-title">Grundinformation</h2>
        <div class="main-about-info">
          <div class="name-about">Email:</div>
          <div class="values-about">Khrystynna.Monastyrska@gmail.com</div>
        </div>
        <div class="main-about-info">
          <div class="name-about">Telefonnummer:</div>
          <div class="values-about">+380984956126 +4367764347306</div>
        </div>
        <div class="main-about-info">
          <div class="name-about">Die Anschrift:</div>
          <div class="values-about">Wien, Österreich</div>
        </div>
        <div class="main-about-info">
          <div class="name-about">Sprachen:</div>
          <div class="values-about values-about-languages">
            Ukrainisch(Muttersprache), Deutsch(C1), Englisch(B2), Polnisch(A2)
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
