<section id="education">
  <div class="container education">
    <h2 class="education-title">Bildung</h2>
      <ul class="education-list list">
          <li class="education-items">
        <div class="education-items-main-info">
          <p class="education-items-main-info-years">2017 - 2021</p>
          <h3 class="education-items-main-info-degree">Bachelor</h3>
        </div>
        <div class="education-items-info">
          <h3 class="education-items-info-name">Nationale Wirtschaftsuniversität Kiew. V. Hetman</h3>
          <p class="education-items-info-specialty">
            <span>Qualifikation und Abschluss:</span> Bachelor of Economics, Grad Lehramt für Wirtschaftswissenschaften
          </p>
          <p class="education-items-info-specialty"><span>Wissensschwerpunkt nach Qualifikation:</span> Sozial- und Verhaltenswissenschaften</p>
        </div>
        </li>
        <li class="education-items">
          <div class="education-items-main-info">
            <p class="education-items-main-info-years">2021 - bis heute</p>
            <h3 class="education-items-main-info-degree">Bachelor</h3>
          </div>
          <div class="education-items-info">
            <h3 class="education-items-info-name">Universität Wien</h3>
            <p class="education-items-info-specialty"><span>Wissensschwerpunkt nach Qualifikation:</span> Politikwissenschaften</p>
          </div>
        </li>
        <li class="education-items">
          <div class="education-items-main-info">
            <p class="education-items-main-info-years">2021 - bis heute</p>
            <h3 class="education-items-main-info-degree">Master</h3>
          </div>
          <div class="education-items-info">
            <h3 class="education-items-info-name">Nationale Wirtschaftsuniversität Kiew. V. Hetman</h3>
            <p class="education-items-info-specialty">
              <span>Wissensschwerpunkt nach Qualifikation:</span> Internationale Wirtschaftsbeziehungen
            </p>
          </div>
        </li>
        <li class="education-items">
          <div class="education-items-main-info">
            <p class="education-items-main-info-years">2019 - 2020</p>
            <h3 class="education-items-main-info-degree">Studentisches Volumenprogramm</h3>
          </div>
          <div class="education-items-info">
              <h3 class="education-items-info-name">Universität Konstanz</h3>
              <p class="education-items-info-specialty">Ausbildung im Rahmen des DAAD - Östliches Partnerschaftsprogramm, Konstanz, Deutschland</p>
          </div>
        </li>
        <li class="education-items">
            <div class="education-items-main-info">
                <p class="education-items-main-info-years">2021</p>
                <h3 class="education-items-main-info-degree">Online-Universität</h3>
            </div>
            <div class="education-items-info">
                <h3 class="education-items-info-name">EU Study Days in Ukraine</h3>
                <p class="education-items-info-specialty"><span>Gruppenprojekt:</span><a target="_blank"  href="https://facebook.com/101479652106969/"> “Беzфейків : ліки від інфодемії”</a></p>
            </div>
        </li>
      </ul>
    </div>
  </div>
</section>
