<section class="main-container">
  <div class="container">
    <header class="header">
      <div class="run-button">
        <button
          class="toggle-hamburger toggle-hamburger__animx"
          aria-label="Open Menu"
          data-mobile-modal-open
          data-burger-open
          data-burger
        >
          <span></span>
        </button>
      </div>
      <ul class="list header-nav">
        <li class="header-item-nav"><a class="link anchors" href="#about">Über mich</a></li>
        <li class="header-item-nav">
          <a class="link anchors" href="#prof-skills">Gewohnheiten</a>
        </li>
        <li class="header-item-nav"><a class="link anchors" href="#education">Bildung</a></li>
        <li class="header-item-nav"><a class="link anchors" href="#practice">Üben</a></li>
        <li class="header-item-nav"><a class="link anchors" href="#honors">Zertifikate</a></li>
        <li class="header-item-nav"><a class="link anchors" href="#contacts">Kontakte</a></li>
        <li class="language language-hover">
          <a href="./ukr.html"><img src="./images/ukraine.png" alt="" /></a>
        </li>
        <li class="language-usa language-hover">
          <a href="./index.html"><img src="./images/usa.png" alt="" /></a>
        </li>
        <li class="language-austria language-hover current">
          <a href="./deu.html"><img src="./images/austria.png" alt="" /></a>
        </li>
      </ul>
    </header>
    <div class="mobile-menu" data-mobile-modal>
      <ul class="list">
        <li class="mobile-anchors">
          <a class="link anchors mobile-menu-links" href="#about">Über mich</a>
        </li>
        <li class="mobile-anchors">
          <a class="link anchors mobile-menu-links" href="#prof-skills">Gewohnheiten</a>
        </li>
        <li class="mobile-anchors">
          <a class="link anchors mobile-menu-links" href="#education">Bildung</a>
        </li>
        <li class="mobile-anchors">
          <a class="link anchors mobile-menu-links" href="#practice">Üben</a>
        </li>
        <li class="mobile-anchors">
          <a class="link anchors mobile-menu-links" href="#honors">Zertifikate</a>
        </li>
        <li class="mobile-anchors">
          <a class="link anchors mobile-menu-links" href="#contacts">Kontakte</a>
        </li>
        <li class="language-modal">
          <a href="./ukr.html"><img src="./images/ukraine.png" alt="" /></a>
        </li>
        <li class="language-modal-usa">
          <a class="qw" href="./index.html"><img src="./images/usa.png" alt="" /></a>
        </li>
        <li class="language-modal-austria current">
          <a href="./deu.html"><img src="./images/austria.png" alt="" /></a>
        </li>
      </ul>
    </div>
    <div class="main-div">
      <img src="./images/image.jpg" alt="Фото кандидата" class="main-photo" />

      <h1 class="main-name" id="about">Khrystyna Monastyrska</h1>
      <div class="button-hire">
        <button>Kontaktiere mich</button>
        <a href="#" download="./files/Khrystyna Monastyrska.pdf">
          <button>Download-Datei</button>
        </a>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <a href="mailto:Khrystynna.Monastyrska@gmail.com" class="icon gmail">
      <div class="tooltip">Gmail</div>
      <span>
        <svg class="button-svg">
          <use href="./images/icons.svg#icon-google2"></use>
        </svg>
      </span>
    </a>
    <a
      target="_blank"
      href="https://www.linkedin.com/in/khrystyna-monastyrska-a922051b2/"
      class="icon twitter"
    >
      <div class="tooltip">LinkedIn</div>
      <span>
        <svg class="button-svg">
          <use href="./images/icons.svg#icon-linkedin"></use>
        </svg>
      </span>
    </a>
    <a href="tel:+380984956126" class="icon telephone">
      <div class="tooltip">Forderung</div>
      <span>
        <svg class="button-svg">
          <use href="./images/icons.svg#icon-phone"></use>
        </svg>
      </span>
    </a>
  </div>
</section>
