<section id="practice">
  <div class="container practice">
    <h2 class="practice-title">Üben</h2>
    <div class="practice-block">
      <div class="practice-photo"></div>
      <div class="practice-info">
        <h3>Finanzministerium der Ukraine, Abteilung für Personal- und Organisationsentwicklung</h3>
        <p>
          Das Praktikum fand in einer Pandemie statt, daher wurden alle Aktivitäten in ein
          Online-Format übersetzt. Die Hauptaufgaben waren: Verallgemeinerung und Systematisierung
          des potenziellen Personals gemäß den relevanten Anforderungen (Bildung, soziale
          Fähigkeiten usw.), Auswahl der Kandidaten gemäß der geltenden Gesetzgebung, Arbeit mit
          Vorschriften, Erstellung psychologischer Fragebögen zur Optimierung des Teams.
        </p>
      </div>
    </div>
  </div>
</section>
