<section>
  <div class="container skills">
    <h2 class="skills-title">Gewohnheiten</h2>
    <div class="skills-block">
      <div class="skills-block-left">
        <h3 class="skills-block-left-title">Hard skills</h3>
        <div class="skills-block-items"><p>Rechtskenntnisse</p></div>
        <div class="skills-block-items"><p>Geschäftskorrespondenz</p></div>
        <div class="skills-block-items"><p>Erstellung und Pflege von Dokumentationen</p></div>
        <div class="skills-block-items last"><p>Freier Besitz eines PCs</p></div>
      </div>
      <div class="skills-block-right">
        <h3 class="skills-block-right-title">Soft skills</h3>
        <div class="skills-block-items"><p>Liebe zum Detail</p></div>
        <div class="skills-block-items"><p>Kritisches Denken</p></div>
        <div class="skills-block-items"><p>Schnelle Anpassung an Umstände</p></div>
        <div class="skills-block-items last"><p>Hohes Maß an Zeitmanagement</p></div>
      </div>
    </div>
  </div>
</section>
