.about-section {
  padding: 70px 0 50px 0;
}

.about-me {
  width: 1000px;
  margin: 0 auto;
  height: auto;
  padding: 20px;
  box-shadow: 0px 0px 20px 14px rgba(34, 60, 80, 0.2);
  display: flex;
  justify-content: space-between;
}

.about-text {
  max-width: 400px;
  font-size: 14px;
  color: var(--gray);
  line-height: 24px;
  text-align: center;
}

.about-title {
  margin-bottom: 20px;
  text-align: center;
}

.main-about-info {
  display: flex;
}

.right-section {
  padding-right: 50px;
  margin-left: 40px;
}

.left-section {
  margin-left: 30px;
}

.name-list {
  margin-right: 40px;
}

.name-about {
  font-weight: 700;
  width: 150px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}
.values-about {
  font-size: 14px;
  color: var(--gray);
  &-languages {
    max-width: 240px;
  }

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1200px) {
  .about-me {
    width: 80%;
  }
}

@media screen and (max-width: 1000px) {
  .about-me {
    flex-direction: column;
  }

  .main-about-info {
    justify-content: center;

    &:nth-child(3) {
      margin-left: -9px;
    }
    &:nth-child(4) {
      margin-left: -138px;
    }
  }

  .about-text {
    margin: 0 auto;
  }

  .left-section {
    margin-bottom: 30px;
  }
  .right-section {
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .main-about-info {
    display: block;

    &:nth-child(3) {
      gap: 0;
      margin-left: 0;
    }
    &:nth-child(4) {
      margin-left: 0;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  .right-section {
    margin-left: 0;
  }
  .left-section {
    margin-left: 0;
  }
}

@media screen and (max-width: 350px) {
  .values-about {
    font-size: 13px;
  }
}
